# Generated outputs from the lab exercises
/lab5_gcc/bin/
/lab5_gcc/obj/
/lab5_gcc/lib/*.a
/lab5_gcc/lib/*.so*
/lab5_gcc/libfuncs.so*
/lab6_make/bin/
/lab6_make/obj/
/lab6_make/lib/*.a
/lab8_syscall/opentest
/lab8_syscall/printpid
/lab9_process/exectest
/lab9_process/forkexec
/lab9_process/forktest
/lab9_process/race
/lab9_process/systemtest
/lab10_signal/sigactiontest
/lab10_signal/sigactiontest2
/lab10_signal/sigalarmtest
/lab10_signal/sigtest
/lab10_signal/sigtest_debug

# Prebuilt executable test fixtures in the Linux source tree
/linux-6.17.6/tools/perf/tests/pe-file.exe
/linux-6.17.6/tools/perf/tests/pe-file.exe.debug
/linux-6.17.6/tools/testing/selftests/tc-testing/action-ebpf

# Generated executables from the assignment exercises
/OpenSW_Assignment/**/bin/
/OpenSW_Assignment/week02/lab0/mysleep
/OpenSW_Assignment/week11_syscall_file/01_mypid
/OpenSW_Assignment/week11_syscall_file/02_myppod
/OpenSW_Assignment/week11_syscall_file/03_args
/OpenSW_Assignment/week11_syscall_file/04_open_files
/OpenSW_Assignment/week11_syscall_file/05_stdin_stdout
/OpenSW_Assignment/week11_syscall_file/06_mycp
/OpenSW_Assignment/week12_syscall_process/01_fork
/OpenSW_Assignment/week12_syscall_process/02_nowait
/OpenSW_Assignment/week12_syscall_process/03_execve
/OpenSW_Assignment/week12_syscall_process/04_mysystem
/OpenSW_Assignment/week13_syscall_signal/Q4
/OpenSW_Assignment/week13_syscall_signal/Q5
/OpenSW_Assignment/week13_syscall_signal/Q6
/OpenSW_Assignment/week13_syscall_signal/print_pid

# Download metadata added by Windows
*:Zone.Identifier
